<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Customize your logo</title>
    <link rel="icon" href="https://www.logoskill.com/Images/favi.png" type="image/gif" sizes="16x16">

    <link rel="stylesheet" type="text/css" href="public/jquery-ui-1.12.1.custom/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="public/css/colorpicker.css">
    <link rel="stylesheet" type="text/css" href="public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="public/css/fonts/font-awesome/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="public/css/main.css" />

    <!-- Including plugins css -->
    <link rel="stylesheet" type="text/css" href="public/plugins/tooltipster-master/dist/css/tooltipster.bundle.min.css" />
    <link rel="stylesheet" type="text/css" href="public/plugins/tooltipster-master/dist/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-borderless.min.css" />
    <link rel="stylesheet" type="text/css" href="public/plugins/ascolorpicker/asColorPicker.min.css" />
    <link rel="stylesheet" type="text/css" href="public/plugins/asrange/asRange.min.css" />
    <link rel="stylesheet" type="text/css" href="public/plugins/select2/select2.min.css" />
    <link rel="stylesheet" type="text/css" href="public/plugins/switchery/switchery.min.css" />

    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Aclonica|Acme|Advent+Pro|Aldrich|Alegreya+Sans+SC|Alfa+Slab+One|Annie+Use+Your+Telescope|Anton|Archivo+Black|Bad+Script|Baloo+Tammudu|Bevan|Bree+Serif|Carme|Caveat|Caveat+Brush|Chango|Chewy|Cinzel+Decorative|Comfortaa|Contrail+One|Cookie|Cuprum|Fjalla+One|Fredericka+the+Great|Fredoka+One|Fugaz+One|Gamja+Flower|Gloria+Hallelujah|Gochi+Hand|IBM+Plex+Mono|Indie+Flower|Jaldi|Jua|Just+Another+Hand|Kalam|Kaushan+Script|Kirang+Haerang|Knewave|Lato|Lobster|Lobster+Two|Love+Ya+Like+A+Sister|Luckiest+Guy|Marck+Script|Martel+Sans|Merienda|Merriweather|Monoton|Montserrat|Mukta|Neucha|Nothing+You+Could+Do|Orbitron|Oswald|Pacifico|Passion+One|Patrick+Hand|Patua+One|Permanent+Marker|Pontano+Sans|Pridi|Quattrocento+Sans|Quicksand|Rammetto+One|Rancho|Reenie+Beanie|Roboto+Mono|Sacramento|Satisfy|Sigmar+One|Source+Code+Pro|Ubuntu|Ultra|Voltaire" rel="stylesheet">

</head>
<body class="editorBody" ng-app="logomakerapp" ng-controller="logoMakerController" ng-init="init()">

    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="https://www.logoskill.com">
            <img src="https://www.logoskill.com/Images/favi.png" width="45" height="45" alt="">
        </a>
        
        <form class="form-inline pull-right navbar-buttons">
            <button class="btn btn-lg black" type="button" ng-click="resetLogo()">Reset</button>
            <button class="btn btn-lg black" type="button" ng-click="changeLogo()">Change Logo</button>
            <button class="btn btn-lg" type="button" ng-click="finish()">Finish & Order</button>
        </form>
    </nav>

    <div class="container-fluid main-container">

        <div class="row">

            
            <div class="col-md-4">
        
                <div class="editPallet col-md-12" id="logoNameSettings">
                    
                    <div class="togglePanel">
                        <!-- <p class="heading">Logo Name Settings</p> -->

                        <div class="row">
                            <div class="col-md-12">
                                <label for="logoName">Change your company name</label>
                                <input class="form-control" type="text" name="logoName" id="logoName" ng-model="logoName.name" placeholder="logoname" ng-change="updateHistory()" />
                            </div>
                            <div class="col-md-6">
                                <label for="logoStyle">Font Style</label>
                                <select class="form-control" ng-model="logoName.style" name="logoStyle" ng-change="updateHistory()">
                                    <option value="normal">Normal</option>
                                    <option value="italic">Italic</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="logoWeight">Font weight</label>
                                <select class="form-control" ng-model="logoName.weight" name="logoWeight" ng-change="updateHistory()">
                                    <option value="100">100</option>
                                    <option value="200">200</option>
                                    <option value="400">400</option>
                                    <option value="bold">bold</option>
                                    <option value="bolder">bolder</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="logoSize">Font Size <strong>{{logoName.size}}px</strong></label><br/>
                                <input type="range" min="10" max="200" name="logoSize" ng-model="logoName.size" step="1" />
                            </div>
                            <div class="col-md-6">
                                <label for="logFamily">Font Family</label>
                                <!-- <select class="form-control" ng-model="logoName.family" name="logFamily" ng-change="updateHistory()">
                                    <option value="{{logoName.family}}" selected>{{logoName.family}}</option>
                                    <option ng-repeat="family in fontFamilies" value="{{family.name}}" ng-selected="checkFont(logoName.family, family.name)">{{family.name}}</option>
                                </select> -->

                                <select class="select2 font" name="logFamily"></select>
                            </div>
                        </div>
                        
                    </div>
        
                </div>
        
                <div class="editPallet col-md-12" id="sloganSettings">

                    <div class="togglePanel">
                        <input type="checkbox" name="slogancheck" id="slogancheck" ng-model="slogan.showSlogan" class="js-switch" />
                        &nbsp;&nbsp;<strong style="top: 3px; position: relative;">Add Text</strong>

                        <div class="row" ng-show="slogan.showSlogan">
                            <div class="col-md-12">
                                <label for="slogan">Change your company Slogan</label>
                                <input class="form-control" type="text" name="slogan" id="slogan" ng-model="slogan.name" placeholder="slogan" ng-change="updateHistory()" />
                            </div>
                            <div class="col-md-6">
                                <label for="textStyle">Text Style</label>
                                <select class="form-control" ng-model="slogan.style" name="textStyle" ng-change="updateHistory()">
                                    <option value="normal">Normal</option>
                                    <option value="italic">Italic</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="textWeight">Text weight</label>
                                <select class="form-control" ng-model="slogan.weight" name="textWeight" ng-change="updateHistory()">
                                    <option value="100">100</option>
                                    <option value="200">200</option>
                                    <option value="400">400</option>
                                    <option value="bold">bold</option>
                                    <option value="bolder">bolder</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="textSize">Text Size <strong>{{slogan.size}}px</strong></label><br/>
                                <input type="range" min="10" max="100" name="textSize" value="{{slogan.size}}" ng-model="slogan.size" step="1" />
                            </div>
                            <div class="col-md-6">
                                <label for="textFamily">Text Family</label>
                                <!-- <select class="form-control" ng-model="slogan.family" name="textFamily" ng-change="updateHistory()">
                                    <option ng-repeat="family in fontFamilies" value="{{family.name}}">{{family.name}}</option>
                                </select> -->
                                <select class="select2 text" name="textFamily"></select>
                            </div>
                        </div>

                    </div>
        
                </div>
        
                <div class="editPallet col-md-12" id="iconSettings">
                    
                    <div class="togglePanel">

                        <div class="row">
                            <div class="col-md-12">
                                <label for="background">Background Color</label>
                                <input class="form-control" colorpicker="rgba" colorpicker-position="right" name="background" ng-model="background" type="text">
                                <div class="colorBox" style="background: {{background}};"></div>
                            </div>
                            <div ng-class="slogan.showSlogan ? 'col-md-6' : 'col-md-12'" style="top: -34px;">
                                <label for="logoColor">Comapny Name Color</label>
                                <input class="form-control" colorpicker="rgba" colorpicker-position="right" name="logoColor" ng-model="logoName.color" type="text">
                                <div class="colorBox" style="background: {{logoName.color}};"></div>
                            </div>
                            <div ng-class="slogan.showSlogan ? 'col-md-6' : 'col-md-12'" ng-show="slogan.showSlogan" style="top: -34px;">
                                <label for="sloganColor">Text Color</label>
                                <input class="form-control" colorpicker="rgba" colorpicker-position="right" name="sloganColor" ng-model="slogan.color" type="text">
                                <div class="colorBox" style="background: {{slogan.color}};"></div>
                            </div>
                        </div>
                        <div class="row">
                            <label for="iconColor" style="top: -34px; padding-left: 15px;">Icon Colors</label>
                            <div class="col-md-4" ng-repeat="path in svg.paths" id="input_{{path.id}}" style="top: -34px; height: auto;">
                                <input class="form-control colorPickerHere tooltipster" title="{{path.id}}" colorpicker="rgba" colorpicker-position="right" name="sloganColor{{path.id}}" ng-model="path.fill" ng-change="updateFillColor(path.id)" type="text">
                                <div class="colorBox" style="background: {{path.fill}};"></div>
                            </div>
                        </div>
                    </div>

                    
                    <!-- <div class="toggleIcon undo">
                        <i class="icon fa-automobile" aria-hidden="true"></i>
                    </div>
                    <div class="toggleIcon redo">
                        <i class="icon fa-automobile" aria-hidden="true"></i>
                    </div> -->

                </div>

            </div>

            
            <div class="col-md-8">
                <div id="draggableParent" style="background-color: {{background}};">
            
                    <div id="svgIconHere" style="width: {{svg.size.width}}; height: {{svg.size.height}}; left: {{svg.position.left}}; top: {{svg.position.top}}; transform: rotate({{svg.rotate.rad}});"></div>
        
                    <div id="logoNameHere" class="logoNameHere" style="font-family: {{logoName.family}}; font-size: {{logoName.size}}px; font-weight: {{logoName.weight}}; font-style: {{logoName.style}}; color: {{logoName.color}}; left: {{logoName.position.left}}; top: {{logoName.position.top}}; transform: rotate({{logoName.rotate.rad}});">{{logoName.name}}</div>
        
                    <div id="sloganNameHere" ng-show="slogan.showSlogan" class="sloganNameHere" style="font-family: {{slogan.family}}; font-size: {{slogan.size}}px; font-weight: {{slogan.weight}}; font-style: {{slogan.style}}; color: {{slogan.color}};; left: {{slogan.position.left}}; top: {{slogan.position.top}}; transform: rotate({{slogan.rotate.rad}});">{{slogan.name}}</div>
                    
                    <div class="controls">
                        <i class="icon fa-undo tooltipster" id="undoHere" ng-click="undoredo('undo')" title="Undo (ctrl + z)" aria-hidden="true"></i>
                        <i class="icon fa-repeat tooltipster" id="redoHere" ng-click="undoredo('redo')" title="Redo (ctrl + shft + z)" aria-hidden="true"></i>
                    </div>

                </div>
            </div>


        </div>

    </div>

</body>


    <script src="public/js/angular.min.js"></script>
    <!-- <script src="public/js/angular-route.js"></script> -->
    <script src="public/js/logoMakerApp.js"></script>
    <script src="public/js/getStartedController.js"></script>
    <script src="public/js/logosController.js"></script>
    <script src="public/js/logoMakerController.js"></script>

    <script type="text/javascript" src="public/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="public/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script type="text/javascript" src="public/js/jquery.ui.rotatable.js"></script>
    <script type="text/javascript" src="public/js/bootstrap-colorpicker-module.js"></script>

    <!-- Including plugins js -->
    <script type="text/javascript" src="public/plugins/tooltipster-master/dist/js/tooltipster.bundle.min.js"></script>
    <script type="text/javascript" src="public/plugins/ascolorpicker/jquery-asColorPicker.min.js"></script>
    <script type="text/javascript" src="public/plugins/ascolor/jquery-asColor.min.js"></script>
    <script type="text/javascript" src="public/plugins/asrange/jquery-asRange.min.js"></script>
    <script type="text/javascript" src="public/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="public/plugins/select2/select2.full.min.js"></script>
    <script type="text/javascript" src="public/plugins/switchery/switchery.min.js"></script>

    <script>
        
        var init = new Switchery(document.querySelector('.js-switch'), { color: '#eaeaea', jackColor: '#188fca' });
    </script>

</html>