<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" href="public/jquery-ui-1.12.1.custom/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="public/css/colorpicker.css">

    <link rel="stylesheet" href="public/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/css/main.css">
    <link rel="stylesheet" href="public/css/fontawesome.min.css">
    <link rel="stylesheet" href="public/css/all.min.css">
    <link rel="stylesheet" href="public/css/select2.min.css">


</head>

<body ng-app="logomakerapp">

    <div ng-controller="getStartedController" ng-init="init()">

        <div class="container-fluid custom-fluid">

            <div class="row custom-fluid-row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 custom-fluid-row-col">
                    <h1 class="text-center slide-in-blurred-left-h1">Make a logo you'll be proud of.</h1>
                    <p class="text-center p-tagline slide-in-blurred-right-p">Use our logo maker to instantly create stunning logo designs for your business.</p>
                    <div class="center-block nameSlogan slide-in-blurred-left-h1" ng-if="step > 1">
                        <h3 class="text-center" style="font-variant: petite-caps;">Business Name: <strong style="color: #8554fa">{{companyName}}</strong></h3>
                    </div>
                    <div class="center-block nameSlogan slide-in-blurred-left-h1" ng-if="step > 2">
                        <h3 class="text-center" style="font-variant: petite-caps;">Category: <strong style="color: #8554fa">{{category}}</strong></h3>
                    </div>
                    <div class="wrapper focus-in-contract-bck-input">

                        <fieldset class="formRow">
                            <div class="formRow--item" ng-show="step == 1">
                                <label for="companyname" class="formRow--input-wrapper js-inputWrapper">
                                    <input type="text" class="formRow--input js-input" id="companyname" ng-model="companyName" placeholder="Enter Your Business Name">
                                    
                                </label>
                            </div>
                        </fieldset>

                        <input type="button" ng-if="step == 1" value="Next" ng-click="checkCompanyName()">
                        <span class="arrow"></span>
                    </div>
                    <span class="required_error text-center slide-in-blurred-left-h1" ng-if="requiredCompanyName">Company name is required.</span>

                    <form class="categoryForm" action="" ng-show="step == 2" id="anim1">
                        Select Category
                        <select class="js-example-basic-multiple js-select2" name="states[]">
                            <option ng-repeat="cat in categories" value="{{cat.value}}">{{cat.value}}</option>
                        </select>
                        <input class="center-block" type="button" value="Next" ng-click="checkCategories()">
                        <span class="arrow-get-started"></span>
                    </form>
                    <span class="required_error text-center" ng-if="requiredCategory">Category is required.</span>

                    <div class="wrapper focus-in-contract-bck-input">

                        <fieldset class="formRow">
                            <div class="formRow--item" ng-show="step == 3">
                                <label for="emailAddress" class="formRow--input-wrapper js-inputWrapper">
                                    <input type="email" class="formRow--input js-input" id="emailAddress" ng-model="emailAddress" placeholder="Email Address" required>
                                </label>
                            </div>
                        </fieldset>

                        <input type="button" ng-if="step == 3" value="Get Started" ng-click="getStarted()">
                        <!-- <span class="arrow"></span> -->
                    </div>
                    <span class="required_error text-center slide-in-blurred-left-h1" ng-if="requiredEmail">{{requiredEmailMsg}}</span>

                    <div class="watch-video slide-in-bottom-video">
                        <i class="fab fa-youtube"></i>
                        <a href="">
                            <p>Watch the video</p>
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </div>

</body>


<script src="public/js/angular.min.js"></script>
<!-- <script src="public/js/angular-route.js"></script> -->
<script src="public/js/logoMakerApp.js"></script>
<script src="public/js/getStartedController.js"></script>
<script src="public/js/logosController.js"></script>
<script src="public/js/logoMakerController.js"></script>

<script type="text/javascript" src="public/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="public/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script type="text/javascript" src="public/js/jquery.ui.rotatable.js"></script>
<script src="public/js/bootstrap-colorpicker-module.js"></script>

<script src="public/js/select2.js"></script>
<script src="public/js/main.js"></script>
<script src="public/js/fontawesome.min.js"></script>

</html>