body{
    &.editorBody{
        background: #eaeaea;
        .navbar{
            background: #fff;
            padding: 8px;
            box-shadow: 0px -3px 50px -15px #333;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 999;

            .navbar-brand{
                padding: 0 15px;
            }
            .navbar-buttons{
                margin-right: 20px;

                .btn{
                    background: #188fca;
                    position: relative;
                    top: 5px;
                    font-size: 14px;
                    color: #fff;
                    border-radius: 0;
                    outline: none;

                    &:hover{
                        background: #095d86;
                    }
                }
            }
        }

        .main-container{
            margin-top: 68px;
            height: calc(100vh - 68px);

            .row{
                .col-md-4,
                .col-md-8{
                    height: calc(100vh - 68px);
                }

                .col-md-4{
                    background: #fff;
                }
            }

        }
        #draggableParent{
            width: calc(800px - 10px);
            height: calc(800px - 10px);
            /*background: url(public/images/gridImage.png) center repeat;*/
            margin: 10vh auto;
            border: 1px #ccc dashed;
            overflow: hidden;
            position: relative;
        }
        .logoNameHere,
        .sloganNameHere{
            display: inline-block;
            position: absolute;
        }
        // .editPallet{
        //     position: relative;
        //     right: 50px;
        //     top: 50px;
        //     background: #eaeaea;
        //     min-width: 200px;
        //     min-height: 200px;
        //     padding: 10px;
        //     z-index: 999;
        //     display: none;
        // }

        .toggleIcon{
            position: absolute;
            left: 2vw;
            top: 8vh;
            width: 60px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            border-radius: 50%;
            box-shadow: 5px 8px 31px -10px #333;
            font-size: 26px;
            color: #fff;
            background: #333;
            cursor: pointer;
            // transition: all 0.2s ease-in-out;

            &:hover{
                background: #eaeaea;
                color: #000;
            }

            &.active{
                background: #333;
                color: #fff;
                width: 120px;
                border-radius: 40px;
                text-align: left;
                padding: 0 17px;
            }

            &.slogan{
                top: 16vh;
            }
            &.icon{
                top: 24vh;
            }
        }

        .togglePanel{
            position: absolute;
            left: calc(3vw + 60px);
            top: 5vh;
            background: #333;
            padding: 15px 30px;
            width: calc(90% - 2vw - 60px);
            height: 80vh;
            border-radius: 5px;

            p.heading{
                font-size: 26px;
                padding: 15px 0;
                font-weight: bold;
                color: #fff;
                margin: 0;
                line-height: 50px;
            }
            label{
                position: relative;
                color: #fff;
                text-transform: uppercase;
                font-weight: 100;
                font-size: 10px;
                bottom: -12px;
                left: 10px;
                margin: 0;
                padding: 4px 8px;
                background: #333;
            }
            input.form-control,
            select.form-control{
                height: 50px;
                border: 1px #5d5d5d solid;
                background: transparent;
                color: #fff;
                font-size: 16px;
            }

            .colorBox{
                float: right;
                position: relative;
                width: 34px;
                height: 34px;
                top: -42px;
                right: 8px;
                border-radius: 50%;
            }
        }
        
        .ui-resizable-handle{
            background: #333;
        }
        
        .ui-draggable-handle{
            cursor: -webkit-grab;
        }
        .ui-icon{
            width: 9px;
            height: 9px;
            right: -5px;
            bottom: -5px;
        }
        
        .ui-rotatable-handle {
            height: 16px;
            width: 16px;
            cursor: pointer;
            background-size: 100%;
            left: -24px;
            bottom: 5px;
            font-size: 14px;
            position: absolute;
            color: #666;

            &::before{
                content: "\f0e2";
                font-family: 'FontAwesome';
            }
        }
        
        svg path{
            cursor: pointer;
        }
    }
}