@media screen and (max-width:1024px) {
    .formRow {
        .placeholder {
            font-size: 14px;
        }
    }
}

@media screen and (max-width:768px) {
    .formRow {
        .placeholder {
            font-size: 14px;
        }
    }
}

@media screen and (max-width:666px) and (min-width:426px) {
    .custom-fluid .custom-fluid-row .custom-fluid-row-col .arrow-div {
        left: 60vw;
    }
    .custom-fluid .custom-fluid-row .custom-fluid-row-col .arrow-div {
        width: 128px;
    }
    .formRow {
        position: relative;
        margin-left: 6vw;
        margin-right: auto;
    }
}

@media screen and (max-width:375px) {
    .formRow {
        .placeholder {
            font-size: 14px;
            left: 2px;
        }
    }
    .formRow--input {
        width: 68vw;
    }
}

@media screen and (max-width:425px) {
    .custom-fluid-catgry {
        .custom-fluid-row-catgry {
            .custom-fluid-row-col-catgry {
                form {
                    width: 100%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
    .formRow {
        &--input {
            &.active {
                .placeholder {
                    font-size: 13px;
                }
            }
        }
    }
    .custom-fluid .custom-fluid-row .custom-fluid-row-col .arrow-div {
        width: 92px;
        left: 255px;
    }
    .custom-fluid .custom-fluid-row .custom-fluid-row-col .arrow {
        top: 1px;
        left: -17px;
    }
    .formRow {
        margin-left: 30px;
        margin-right: 0;
    }
    .m-0 {
        margin-left: 0;
    }
    .custom-fluid .custom-fluid-row .custom-fluid-row-col input[type="button"]:hover {
        transform: translateX(0px);
        padding: 14px 14px 14px 14px;
        text-indent: -10px;
        &.input3 {
            letter-spacing: 0 !important;
            width: 115px;
            text-indent: -18px;
        }
    }
    .custom-fluid .custom-fluid-row .custom-fluid-row-col .arrow-get-started {
        left: -18px;
    }
    .custom-fluid .custom-fluid-row .custom-fluid-row-col .arrow-div-3 {
        left: 255px;
        width: 135px;
    }
}

@media screen and (max-width:375px) {
    .custom-fluid .custom-fluid-row .custom-fluid-row-col .arrow-div {
        left: 210px;
        width: 100px;
    }
    .formRow--input {
        width: 57vw;
    }
}

@media screen and (max-width:360px) and (max-height:640px) {
    .custom-fluid .custom-fluid-row .custom-fluid-row-col .arrow-div-3 {
        left: 203px;
        width: 135px;
    }
}

@media screen and (max-width:320px) {
    .custom-fluid .custom-fluid-row .custom-fluid-row-col .arrow-div {
        left: 183px;
        width: 121px;
    }
    .formRow--input {
        width: 58vw;
    }
    .formRow .placeholder {
        font-size: 12px;
    }
}

@media screen and (max-width:350px) {
    .formRow {
        &--input-wrapper {
            &.active {
                .placeholder {
                    font-size: 8px !important;
                }
            }
        }
    }
}

@media screen and (max-width:1023px) {
    .container-fluid-choose-logo {
        .row-choose-logo {
            .col-lg-3.col-md-3.col-sm-3.col-xs-12 {
                .row {
                    &.btn-show-hide {
                        .col-lg-6.col-md-6.col-sm-6.col-xs-6 {
                            input[type="button"] {
                                font-size: 11px;
                                padding: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}